/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');



html {
    scroll-behavior: smooth;

}

.hero-section {
    align-items: center;
    /* Centra verticalmente los elementos dentro de la sección */
    height: 6rem;
    /* Altura de la sección */
    background-size: cover;
    /* Cubre toda la sección */
    background-image: url('../img/logo-video.PNG');
    /* Imagen de fondo */
    color: white;
    /* Color del texto */
    background-position: left;
    /* Alinea la imagen de fondo a la izquierda */
    padding-top: 2rem;
    /* Ajusta el valor según lo que necesites */
    margin-bottom: 3rem;
}




@media (max-width: 768px) {
    .hero-details {
        margin-top: 135px;
        padding-top: 10px;
    }
}

@media (max-width: 480px) {

    .title {
        font-size: 2rem;
        margin-top: 100px;
    }


}

@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .hero {
        padding: 2rem;
    }

}

/* Estilo para el contenedor de cada tarjeta de video */
.grid-item {
    margin-bottom: 20px;
    /* Espacio inferior entre las tarjetas */
}

/* Estilo para el cuerpo de la tarjeta */
.card-body {
    background-color: #f8f9fa;
    /* Color de fondo claro */
    border-radius: 5px;
    /* Bordes redondeados */
    padding: 15px;
    /* Espacio interno */
    height: 70px;
    text-align: center;
    /* Centrar el texto */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
}

/* Estilo para el párrafo dentro del cuerpo de la tarjeta */
.card-body p {
    font-size: 10px;
    /* Tamaño de fuente */
    color: #343a40;
    /* Color de texto */
    margin: 0;
    /* Sin margen */
    font-weight: bold;
    /* Texto en negrita */
}

/* Estilo para la tarjeta completa */
.card {
    transition: transform 0.3s;
    /* Animación suave al hacer hover */
}

/* Efecto de hover para la tarjeta */
.card:hover {
    transform: scale(1.05);
    /* Aumentar tamaño ligeramente al pasar el mouse */
}


.pagination {
    display: flex;
    /* Usar flexbox para centrar los elementos */
    justify-content: center;
    /* Centra los elementos de la lista */
    list-style: none;
    /* Elimina los puntos de la lista */
    padding: 0;
    /* Elimina el padding */
    margin: 0;
    /* Elimina el margin */
}

.page-item {
    margin: 0 5px;
    /* Espaciado entre los botones */
}