body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/logo-video.PNG');
    margin: 0;
    height: 606px;
}
iframe {
    margin-top: 20px;
    width: 1300px;
    height: 570px; /* Puedes ajustar la altura según sea necesario */
}